@import url(normalize.css);



/* -------------------- VARIABLES */


/* -------------------- GLOBAL DEFAULTS */

body{
    background-color: aquamarine;
}

/* -------------------- HEADINGS AND TYPE */


/* -------------------- LAYOUTS */

.layout-wide {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------- HEADER */

/* -------------------- NAVIGATION */

/* -------------------- FOOTER */

/* -------------------- MODULES */